doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 15 misol 
        link(rel="stylesheet" href="../../css/normalize.css")
        link(rel="stylesheet" href="../../sass/style.css")
    body 
    header.header 
        .header_loge 
            .header_link 
                h2 KATY BIKOVICHE
                p PRODUCT DESIGNER, DIRECTOR 
                    b @ THESHITHOLE
                p.sty Currently based in Singapore
                b 1° 17’ 22 N, 103° 51’ 0 E
        .dsd DSD